@import url("style/produits.css");
@import url("style/clavier.css");
@import url("style/fenetre.css");

* {
	margin: 0;
	padding: 0;
	--BG: beige;
	--BF: rgba(38, 144, 181, 1);
	--BC: rgba(110, 174, 202, 1);
	--BTC: rgba(169, 221, 243, 1);

	--RE: rgba(200, 0, 0, 1);
	--REDA: rgb(107, 0, 0);

	--GR: rgba(0, 200, 50, 1);
	--GRDA: rgb(63, 121, 63);

}

img {
	width: 3vw;
}

body {
	height: 100vh;
	background-color: var(--BG);
}

.banner {
	margin: 5vw;
	width: 100vw;
	align-items: center;
	justify-content: start;
	display: flex;
	flex-direction: column;
}

.bann {
	position: absolute;
	top: 5vh;
}

.title {
	top: -1vw;
	z-index: 3;
	width: 35vw;
	
	filter: drop-shadow(.2vw  .2vw .1vw rgba(0, 0, 0, .7));
}

.blue {
	top: 3vw;
	z-index: 0;
	width: 50vw;
}

