@import url("style/produits.css");
@import url("style/clavier.css");
@import url("style/fenetre.css");
@import url("style/pal.css");
@import url("style/auth.css");

* {
	margin: 0;
	padding: 0;
	--BG: beige;
	--BF: rgba(38, 144, 181, 1);
	--BC: rgba(110, 174, 202, 1);
	--BTC: rgba(169, 221, 243, 1);

	--RE: rgba(200, 0, 0, 1);
	--REDA: rgb(107, 0, 0);

	--GR: rgba(0, 200, 50, 1);
	--GRDA: rgb(63, 121, 63);

	font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 3vw;
}

body {
	height: 100vh;
	background-color: var(--BG);
}

h1 {
	margin: 10vw 0 0 0;
	font-size: 3vw;
	text-justify: center;
	text-align: center;
}

.header {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	justify-content: center;
	align-items: center;
}

.boulangerie {
	
	font-size: 1.5vw;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	padding: 1vw;
	margin: 3vw 10vw 3vw 10vw;
	border-radius: 1vw;
	background-color: var(--BC);
}

.invent {
	grid-column: 1;
}	

.pal {
	grid-column: 3;
}	

.boul-btn {
	text-decoration: none;
	color: var(--BTC);
}




.banner {
	grid-column: 2;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.banner a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}


.bann {
	padding: 1vh;
	position: absolute;
	top: 5vh;
}

.title {
	top: -1vw;
	z-index: 3;
	width: 35vw;
	
	filter: drop-shadow(.2vw  .2vw .1vw rgba(0, 0, 0, .7));
}

.blue {
	top: 3vw;
	z-index: 0;
	width: 50vw;
}

